<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommuniKitty Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CommuniKitty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDBB49041D9F923C00BF68CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDEC77A21D91A703007CF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDEC77B61D91A704007CF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDEC77C11D91A704007CF613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
